*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.miniContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px px;
    border-bottom: 2px solid #e9e9e9 ;
    background: #ffffff;
    padding: 5px 10px;
    opacity: 0.6;
}

.contactDetail{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.number,.mail{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: all .6s ease-in-out;

}

.number:first-child:hover{
    color: blue;
    opacity: 1;
    cursor: pointer;
}
.mail:last-child:hover{
    color: blue;
    opacity: 1;
    cursor: pointer;

}
.socail{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
svg{
    width: 20px;
    transition: all .6s ease-in-out;

}
.socail svg:hover{
    cursor: pointer;
    color: blue;

}

@media (width<600px) {
    .contactDetail{
        gap:10px;
    }
   .minipara{
        display: none;
    }
    
}
.mainContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid ;
    padding: 25px 50px;
}
.mainContainer .logo h1{
    font-weight: 550;
    font-size: 24px;

}

.mainContainer .menulist{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.mainContainer .menulist .mainbtns{
    all: unset;
    font-size: 18px;
    color: black;
     padding: 17.5px 20px;
     cursor: pointer;
     border-radius: 5px;
     font-weight: bold;

}

.mainContainer .menulist .mainbtns:hover{
    background: #ebebeb;
    cursor: pointer;
    transition: all .3s ;
    color: blue;

}
.mainContainer .menulist .mainheaderbtn{
    all: unset;
    padding: 20px 30px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    background: #3391ff;
    color: #ffffff;
    transition: all .3s linear;

}
.mainContainer .menulist .mainheaderbtn:hover{
    cursor: pointer;
     background: #1b6cc7;
}

.mainContainer.menulist .triangle{
}
